<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/navbar.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <a href="#" class="svg-link nav-link">
            <li class="navbar-item logo" >
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8.53333,8.53333)"><path d="M25.565,9.785c-0.123,0.077 -3.051,1.702 -3.051,5.305c0.138,4.109 3.695,5.55 3.756,5.55c-0.061,0.077 -0.537,1.963 -1.947,3.94c-1.119,1.703 -2.361,3.42 -4.247,3.42c-1.794,0 -2.438,-1.135 -4.508,-1.135c-2.223,0 -2.852,1.135 -4.554,1.135c-1.886,0 -3.22,-1.809 -4.4,-3.496c-1.533,-2.208 -2.836,-5.673 -2.882,-9c-0.031,-1.763 0.307,-3.496 1.165,-4.968c1.211,-2.055 3.373,-3.45 5.734,-3.496c1.809,-0.061 3.419,1.242 4.523,1.242c1.058,0 3.036,-1.242 5.274,-1.242c0.966,0.001 3.542,0.292 5.137,2.745zM15.001,6.688c-0.322,-1.61 0.567,-3.22 1.395,-4.247c1.058,-1.242 2.729,-2.085 4.17,-2.085c0.092,1.61 -0.491,3.189 -1.533,4.339c-0.935,1.242 -2.545,2.177 -4.032,1.993z"></path></g></g>
                    </svg>   </a>
            <li class="navbar-item">
                <a class="nav-link store" href=#>Store</a>

               <div class="dropdown-container"> 
                <ul class="dropdown store-dropdown">
                    <li> <span class="drop-down-header dh0"></span>
                    <ul class="shop ddl0 dd ddl">
                              
                        </ul>
                    </li>

                    <li> <span class="drop-down-header dh1"></span>
                        <ul class="quick-links ddl1 dd ddl">
                                 
                            </ul>
                        </li>
                        
                        <li><span class="drop-down-header dh2"></span>
                            <ul class="shop-special-store ddl2 dd ddl">
            
                                </ul>
                            </li>

                </ul>

            </li>
            </div>
            <li class="navbar-item">
                <a class="nav-link" href="#">Mac</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">iPad</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">iPhone</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">Watch</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">Vision</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">AirPods</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">Supports</a>
            </li>
            <li class="navbar-item search">
                <a href="#" class="svg-link nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M21,3c-9.37891,0 -17,7.62109 -17,17c0,9.37891 7.62109,17 17,17c3.71094,0 7.14063,-1.19531 9.9375,-3.21875l13.15625,13.125l2.8125,-2.8125l-13,-13.03125c2.55469,-2.97656 4.09375,-6.83984 4.09375,-11.0625c0,-9.37891 -7.62109,-17 -17,-17zM21,5c8.29688,0 15,6.70313 15,15c0,8.29688 -6.70312,15 -15,15c-8.29687,0 -15,-6.70312 -15,-15c0,-8.29687 6.70313,-15 15,-15z"></path></g></g>
                    </svg>        </a> </li>
            <li class="navbar-item shop">
                <a href="#" class="svg-link nav-link">

                <?xml version="1.0" encoding="iso-8859-1"?>
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        width="800px" height="800px" viewBox="0 0 494.67 494.67"
                        xml:space="preserve">
                    <g>
                        <path d="M421.621,116.048h-56.939v-3.735C364.682,50.383,314.299,0,252.369,0h-9.45c-61.93,0-112.313,50.384-112.313,112.313v3.735
                            H73.049c-8.297,0-15.026,6.727-15.026,15.025v348.572c0,8.299,6.729,15.025,15.026,15.025h348.572
                            c8.299,0,15.025-6.728,15.025-15.025V131.073C436.648,122.774,429.92,116.048,421.621,116.048z M166.073,112.313
                            c0-42.372,34.473-76.846,76.846-76.846h9.45c42.373,0,76.695,34.474,76.695,76.846l-0.021,36.722
                            c0,9.792-7.838,17.729-17.629,17.729c-9.793,0-17.729-7.938-17.729-17.729c0-0.041,0.008-0.082,0.008-0.123l-0.019-32.863h-92.147
                            v32.863h-0.006c0,0.041,0.006,0.082,0.006,0.123c0,9.792-7.938,17.729-17.729,17.729c-9.792,0-17.729-7.938-17.729-17.729
                            L166.073,112.313z"/>
                    </g>
                    </svg>    
                </a>
            </li>

        </ul>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <script src="js/index.js"></script>
    
</body>
</html>